{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот о чем я читала 🤓</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        <font color="blue">А вообще, главное не сдаваться!</font>
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
  </article>
</div>
{% endblock %} 